/*  PLACEHOLDER
----------------------*/
::-webkit-input-placeholder {color: #333;}
:-moz-placeholder {color:  #333;}
::-moz-placeholder {color:  #333;}
:-ms-input-placeholder {color:  #333;}

/*  SCROLLBAR
-------------------*/
::-webkit-scrollbar{
  background: #fff;
  width:0.7em
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
  background: #ddd;
}
::-webkit-scrollbar-thumb:window-inactive{
  background:#ddd;
}


/*  SELECTION
-------------------*/
::-moz-selection{
  background:#E74C3C;
  color:white;
}
::selection{
  background: #D86060;
  color: white;
}
::-moz-selection{
  background:#E74C3C;
  color:white;
}


body,
html,
pre {
    position: relative
}

* {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

body,
html {
    height: 100%;
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: #FAF8FA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #555;
    overflow: hidden;
}

.caption,
a {
    transition: all .5s ease;
}

a {
    color: #434243;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #555;
    text-decoration: underline;
}

a:focus {
    outline: 5px;
    outline-offset: -2px;
    text-decoration: none;
    color: #A7A2A2;
}

hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid #eee
}

pre {
    background-color: #FFFFFF;
    color: #4C4C4C;
    border: 1px solid #121313;
    padding: 0 7px;
    margin: 10px 0;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre;
}

pre[data-codetype] {
    padding: 29px 1em 7px
}

pre[data-codetype]:before {
    content: attr(data-codetype);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #121313;
    padding: 0 7px;
    font: 700 11px/20px Arial, Sans-Serif;
    color: #fff;
}

h3 span {
    font-size: 15px;
    line-height: 24px;
    background: #E8E8E8;
    color: #ADA6A6;
    padding: 0;
    border-radius: 100%;
    width: 23px;
    height: 24px;
    display: inline-block;
    text-align: center;
}

.breadcrumbs {
    position: relative;
    margin: 1em 0;
    padding: .3em 1em;
    list-style: none;
    line-height: 1.4;
    background: #fdfdfd;
    border: 1px solid #E0E0E0;
}

.breadcrumbs li {
    display: inline-block;
    padding: 0 .25em 0 0;
    color: #E0E0E0;
}

.breadcrumbs li+li:before {
    content: '/';
    padding: 0 .5em 0 0;
}

.breadcrumbs li:first-child a {
    color: #2C3E50;
}

.breadcrumbs li:nth-child(2) a {
    color: #34495E;
}

.breadcrumbs li a {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs .pull-right a {
    background: #f55;
    border: 1px solid #f22;
    color: #FFF;
    padding: .8em 1em;
    text-decoration: none;
    font-size: 13px;
}

.breadcrumbs .pull-right a:hover {
    background-color: #f22;
    color: #fff;
    border-color: red;
}

.breadcrumbs a.active {
    color: #333;
    font-weight: 700;
}

.btn,
input[type=submit] {
    -webkit-appearance: none;
    display: inline-block;
    padding: 0.5em 0.8em;
    margin: .2em;
    line-height: 1em;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #FFF;
    color: #1F1F1F;
    border: 1px solid #C7C7C7;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover,
input[type=submit]:hover {
    background-color: #E0E0E0;
    color: #888C8C;
    text-decoration: none;
}

.btn-danger,
.btn-danger:hover,
btn-danger:active,
btn-danger:focus {
    border-color: #C0392B;
    background-color: white;
    transition: all .5s ease;
}

.btn-danger {
    background: #E74C3C;
    color: #FFFFFF;
}

.btn-danger:hover {
    background: #E74C3C;
    color: #fff;
}

.btn.btn-black {
    background: #FDFDFD;
    color: #717273;
    border-color: #E0E0E0;
}

.btn.btn-black:hover {
    background: #FFF;
    border-color: #34495E;
    color: #34495E;
}

.well {
    display: block;
    background-color: #FDFDFD;
    border: 1px solid #E0E0E0;
    color: #2C3E50;
    margin: 0.3em 0;
    padding: 0.6em 0.8em;
}
#editor {
    min-width: 100%;
    min-height: 25pc;
}

.editor-toolbar,
.header-preview {
    display: block;
    margin: 0;
    line-height: 1;zoom:1;
    padding: .2em .5em;
}

.editor-toolbar:after,
.header-preview:after {
    content: " ";
    display: table;
    clear: both;
}

.editor-toolbar a {
    display: block;
    float: left;
    color: #AFB3B7;
    text-decoration: none!important;
    height: inherit;
    text-align: center;
    margin: 0 4px 4px 0;
    padding: 5px;
    font-size: inherit;
    transition: all 500ms ease;
}

.header-preview {
    padding: 9pt;
    background: #F7F7F7;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}

.editor-toolbar a:active {
    color: #A0A0A0;
}

textarea+.editor-toolbar a {
    margin: 4px 4px 0 0;
}

.custom-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, .93)
}

.custom-modal {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 9999;
    padding: 1.2em;
    width: 300px;
    margin-left: -150px;
    background-color: #FFF;
    border: 1px solid #C8C8C8;
    -webkit-transform: scale(1);
        transform: scale(1);
    -webkit-animation: st .5s 1 ease;
    animation: st .5s 1 ease;
}

@-webkit-keyframes st {
    0% {
        -webkit-transform: scale(.2);
    }
}

@keyframes st {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
    }
}

.custom-modal-header {
    margin: -1.2em -1.2em 0;
    padding: .5em .7em;
    background-color: #ECECEC;
    color: #151515;
    font-weight: 400;
}

.custom-modal-content {
    margin: 1.2em 0;
}

.custom-modal button,
.custom-modal input {
    background-color: #F6F5F9;
    color: #A3A3A3;
    border: 1px solid #D3D3D3;
    padding: 5px;
}

.custom-modal input {
    display: block;
    width: 96%;
}

.custom-modal button {
    padding-right: 10px;
    padding-left: 10px;
    background: #F4F4F4;
    border-color: #BABABA;
    color: #151515;
    cursor: pointer;
    margin: 0 4px 0 0;
    transition: all .5s ease;
}

.custom-modal button:focus,
.custom-modal button:hover {
    background-color: #D5D5D5;
    transition: all .5s ease;
}

#editor-area {
    display: block;
    overflow: auto;
    resize: none;
    padding: 10px;
    width: 100%;
    height: 35em;
    font-family: Consolas, monospace;
    text-shadow: none;
    outline: 0;
    background-color: #F3F3F3;
    border: 1px solid #E0E0E0;
    color: #000000;
    min-width: 100%;
}

.custom-modal-my-modal {
    width: auto;
}

.custom-modal-my-modal img {
    display: block;
    width: 600px;
    height: 200px;
}
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #FDFDFD url(../img/search-icon.png) no-repeat 9px center;
    border: solid 1px #FDFDFD;
    padding: 0.2em;
    width: 55px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #E0E0E0;
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

span.search {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.1em 0.5em;
}
#search input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#search input[type=search]:hover {
    background-color: #fff;
}
#search input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #020202;
    background-color: #fff;
    cursor: auto;
}
#search input:-moz-placeholder {
    color: transparent;
}
#search input::-webkit-input-placeholder {
    color: transparent;
}
.searchResults ul {
    margin: 0;
    padding: 0.8em;
    list-style: none;
}
.searchResults ul li {
    color: white;
}
.searchResults h3 {
    background-color: #121313;
    color: white;
    padding: 0.3em 0.8em;
    margin: 0;
    font-size: 12px;
}
.searchResults {
    padding: 0;
}
.searchResults p {
    padding: 0.1em 0.8em;
    background-color: #E0E0E0;
    color: #E74C3C;
}
label {
    display: block;
    padding: .5em;
}

input[type=email], input[type=file], input[type=number], input[type=password], input[type=text], select, textarea {
    display: block;
    margin: .2em 0;
    padding: .3em .8em;
    background-color: #F7F7F7;
    border: 1px solid #D4D4D4;
    color: #737373;
    vertical-align: middle;
    font-weight: 300;
    line-height: 1.4;
    width: 100%;
}

fieldset {
    margin: 1em 0;
    background-color: #FFF;
    border: 1px solid #ECF0F1;
    color: #000000;
}





@media (max-width: 851px) {
    input[type=email],
    input[type=file],
    input[type=search],
    input[type=number],
    input[type=password],
    input[type=text],
    select,
    textarea {
        max-width: 100%;
        width: 100%;
    }
}

.row,
.row:after {
    clear: both;
}

.row {
    padding: 0;
    margin: 0;
    zoom: 1;
}

.col {
    display: block;
    float: left;
    margin: .5em;
}

.col:first-child {
    margin-left: 0;
}

.row:after,
.row:before {
    content: "";
    display: table;
}

.box-1 {
    width: 100%;
}

.box-2 {
    width: calc(100% / 2 - .8em);
}

.box-3 {
    width: calc(100% / 3 - 1em);
}

@media only screen and (max-width: 480px) {
    .col {
        margin: 1em 0;
    }
}

@media only screen and (max-width: 800px) {
    .box-1,
    .box-2,
    .box-3 {
        width: calc(100%/1 - .5em);
    }
    .col {
        margin: 0;
    }
}

.mini-tumbs li img,
.th,
img#image-display {
    display: block;
    width: 100%;
}

.imageGallery,
.mini-tumbs {
    list-style: none;
    padding: 0;
}

.mini-tumbs {
    margin: 0;
}

.mini-tumbs li {
    width: 16.66667%;
    margin: .2em 0;
    float: left;
}

.mini-tumbs li a {
    position: relative;
    display: block;
    width: 100%;
}

.mini-tumbs li a:before {
    content: "x";
    font-family: monospace;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #FFF;
    background: #E74C3C;
    width: 2em;
    height: 2em;
    line-height: 2em;
    transition: all .5s ease;
    text-align: center;
    padding: 0;
    margin: auto;
    border-radius: 100%;
}

.mini-tumbs li a:hover:before {
    color: #fff;
    background: #C0392B;
    transition: all
}

.imageGallery {
    margin: 0;
}

li.imagePreview {
    position: relative;
    display: inline-block;
    margin: 0 .5em 1em 0;
    padding: 0;
}

a.imageDelete,
a.imageEdit,
a.imageFolder {
    position: absolute;
    bottom: 0.1em;
    z-index: 1;
}

li.imagePreview:last-child {
    margin-right: 0;
}

li.imagePreview img {
    display: block;
    width: 100%;
    max-height: 180px;
}

a.imageDelete {
    right: 3.2em;
    border: none;
    background-color: rgb(0, 0, 0);
}

a.imageEdit {
    right: 0.1em;
    background-color: transparent;
    color: white;
    border: none;
}

a.imageFolder {
    left: 0;
}

.imagePreview {
    width: calc(100% / 4 - .5em);
    float: left;
    overflow: hidden;
}

@media (min-width: 1800px) {
    .imagePreview {
        width: calc(100% / 5 - .9em);
        float: left;
    }
}

@media (max-width: 1200px) {
    .imagePreview {
        width: calc(100% / 4 - .5em);
        float: left;
    }
}

@media (max-width: 1024px) {
    .imagePreview {
        width: calc(100% / 3 - .5em);
        float: left;
    }
}

@media (max-width: 768px) {
    .imagePreview {
        width: 100%;
        float: left;
    }
}

@media (max-width: 480px) {
    .imagePreview {
        width: 100%;
        float: none;
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

.lightCustom {
    display: block;
    overflow: hidden;
    height: auto;
    margin: 0;
    padding: 0;
    min-height: 9em;
}

a.lightCustom span {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: #FFF;
    padding: .5em;
    text-align: left;
    width: 100%;
}

.lightModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all .2s ease;
}

.lightModal .lightModal-inner {
    display: block;
    width: 90%;
    height: 75%;
    margin: 0 auto;
    padding: 0;
}

.lightModal .lightModal-inner .lightModal-title {
    font-family: sans-serif;
    font-weight: 300;
    color: #777;
}

.lightModal .lightModal-inner .lightModal-close {
    position: absolute;
    top: .2em;
    right: .2em;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 3em;
    line-height: 1;
    font-family: serif;
    color: #464646;
}

.lightModal .lightModal-inner .lightModal-close:hover {
    color: #f55;
}

.lightModal .lightModal-inner .lightModal-image {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 95%;
}

.lightModal-code {
    text-align: center;
    max-width: 8in;
    margin: 0 auto;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    overflow: hidden;
}

.loader span {
    background-color: #A62B23;
    width: 0;
    height: .2em;
    display: block;
    transition: all .2s ease;
}

#menu .navigation {
    margin: 0;
    padding: 0;
}

li.has-dropdown {
    display: block;
    margin: .2em 0;
    padding: .2em;
    text-align: left;
    color: #ECF0F1;
}

li.has-dropdown a {
    color: #ECF0F1;
    padding: .2em 0.1em;
    margin: .3em 0.2em;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1.8;
}

li.has-dropdown a:hover {
    color: #BDC3C7;
}

ul.dropdown {
    display: none;
    color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0.5em;
    background-color: #1A1A1B;
}

ul.dropdown li a {
    color: #FFFFFF;
}

ul.dropdown li a:hover {
    color: #2083CA;
}

span.arrow {
    float: right;
    font-size: 8px;
    line-height: 2;
}

a.toggleMenu {
    width: 2em;
    font-size: 2em;
}

.info,
.notification {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}

.notification {
    position: absolute;
    margin: auto;
    width: 19em;
    height: 24em;
    text-transform: capitalize;
    -webkit-transform: scale(1);
        transform: scale(1);
    -webkit-animation: st .5s 1 ease;
    animation: st .5s 1 ease;
}

@-webkit-keyframes st {
    0% {
        -webkit-transform: scale(.2);
    }
}

@keyframes st {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
    }
}

.notification h2 {
    color: #A8ABAD;
    text-transform: uppercase;
    margin: .2em auto;
}

.notification img {
    display: block;
    width: 10em;
    margin: 0 auto;
}

.info {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(250, 250, 250, .8);
}

.tools-alert {
    display: inline-block;
    background: #E74C3C;
    border: 1px solid #C0392B;
    color: #ECF0F1;
    padding: 0.8em;
    margin: 0.3em;
    line-height: 1;
    font-size: inherit;
    font-weight: 400;
}

.tools-alert a {
    display: inline-block;
    background: #C0392B;
    color: #FFF;
    padding: 3px 16px;
    padding: .2rem 1rem;
    margin: 0 16px;
    margin: 0 1rem;
}

.tools-alert a:hover {
    background: #A63F13;
    color: #fff;
    text-decoration: none;
}

.notification-inner {
    background-color: #fff;
    border: 1px solid #D6D6D6;
    max-height: 24em;
    color: #776F6F;
    border-radius: 4px;
}

#menu .footer,
#menu header {
    text-align: center;
    display: block;
}

#header,
#menu header {
    border-bottom: 1px solid #2083CA;
}

#header .right a i,
#header a i:hover,
#menu,
#wrapper,
.is-opened,
.menu-is-open,
a.header-title,
a.header-title:hover {
    transition: all .5s ease;
}

#menu {
    position: absolute;
    width: 200px;
    height: 100%;
    background: #000000;
    border-right: 1px solid #444646;
    -webkit-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
}

.is-opened {
    -webkit-transform: translate(0, 0)!important;
        transform: translate(0, 0)!important;
}

.menu-is-open {
    -webkit-transform: translate(200px, 0)!important;
    transform: translate(200px, 0)!important;
}

[class^=ti-close] {
    color: #F06565;
}

#menu header {
    min-height: 39px;
    background: #000000;
    line-height: 37px;
    color: #ECF0F1;
    text-transform: uppercase;
}

#menu section {
    background: #121313;
    height: calc(100% - 30px);
    color: #ADADAD;
    padding: 0.5em;
}

#menu .footer {
    width: 100%;
    margin: 2em auto;
    color: #ECF0F1;
}

#header {
    height: 40px;
    background: #121313;
    overflow: hidden;
}

#header .menu i,
#header .right a i {
    width: 50px;
    height: 40px;
    text-align: center;
    background: #000000;
    font-size: 13px;
}

#header h2 {
    float: left;
    margin: 0 0 0 1em;
    line-height: 1;
    font-size: 15px;
}

#header .menu i,
#header .right a i,
a.header-title {
    color: #ECF0F1;
    line-height: 38px;
    text-decoration: none;
}

#header .menu i {
    display: block;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    float: left;
}

#header .right a i {
    float: right;
    border-left: 1px solid #000000;
}

#content,
#wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

#header a i:hover {
    background: #000000;
    color: #BFBFBF;
}

a.header-title:hover {
    text-decoration: none;
    color: #198BEA;
}

#wrapper {
    height: 100%;
    background: #fff;
}

#content {
    display: none;
    height: calc(100% - 69px);
    overflow: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0.5em;
}

#menu header a {
    color: #ECF0F1;
}

.responsive {
    margin: 1em auto;
    padding: 0;
    width: 100%;
    border: 1px solid #FFF8F8;
    border-bottom: 1px solid #E0E0E0;
    background-color: #FFF;
}

.responsive table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.responsive tr th {
    background: #121313;
    border: 1px solid #000000;
    padding: .5em;
    color: #ECF0F1;
    outline: none;
}

.responsive tr:nth-child(even),
.responsive tr:nth-child(odd) {
    background-color: #FFF;
}

.responsive td {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #EAEAEA;
    padding: 0.2em;
    font-weight: 400;
    color: #777;
    text-align: center;
}

.responsive td:first-child {
    color: #1ABC9C;
}
.responsive tr:last-child td {
    border-width: 0 1px 0 0;
}

.responsive tr:hover td {
    background-color: #F9F9F9;
}

.responsive tr:first-child td:last-child {
    width: 25%;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .responsive tr:first-child td:last-child {
        width: 30%;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .responsive tr:first-child td:last-child {
        width: 21%;
        text-align: center;
    }
}

.well {
    background-color: #FDFDFD;
    border: 1px solid #F7F7F7;
    padding: 0;
    margin: .5em auto;
}

.show_menu {
    display: block!important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #2083CA;
    color: #FFF;
    border-color: #2083CA;
    padding: 0.3em 0.8em;
    line-height: 1.4;
    margin: 0.3em;
}

.fileUpload:hover {
    background-color: #fff;
    color: #1660A0;
    border-color: #1660A0;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

input.fake {
    max-width: 11em;
    display: inline-block;
}

#progress {
    pointer-events: none;
    position: relative;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: opacity 500ms ease;
}

#progress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    right: 1em;
    top: 4em;
}

#progress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #1ABC9C;
    border-left-color: #1ABC9C;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.show {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    visibility: visible !important;
    z-index: 9999999 !important;
    transition: all .2s ease;
}

.hide {
    display: none!important;
}

.active {
    border-bottom: 1px solid #2083CA;
}
.active a{
    color: #2083CA !important;
}

@media (min-width: 851px) {
    .hide-for-mobile {
        display: table-cell;
    }
    .show-for-mobile {
        display: none!important;
    }
}

@media (max-width: 850px) {
    .pull-left,
    .pull-right {
        float: none;
    }
    .hide-for-mobile {
        display: none!important;
    }
    .show-for-mobile {
        display: table-cell!important;
    }
}



.editor-toolbar a:hover {
    color: #34495E;
    transition: all 500ms ease;
}
